<p>You have successfully booked a unit with us! The following are the details that we submitted to the administration:</p>
<ul>
    <li>Name: {{name}}</li>
    <li>Email: {{email}}</li>
    <li>Check-in date: {{checkin}}</li>
    <li>Check-out date: {{checkout}}</li>
</ul>
<p>In case you did not make the above booking, or some of the details are incorrect, please let us know as soon as possible.</p>
<p>If everything looks good, welcome aboard our Enzi units! We look forward to meeting you in person.</p>
<br>
<small>
    The welcome committee,
    BookEnzi.
</small>